.find-us-form{
    .req{
        color:red;
    }
    input{
        background-color: #DCDCDC;
        border:none;
        font-size:24px;
        margin:20px 0px 10px 0px;
    }
    .big-one{
        height:200px;
        width:500px;
    }
    button{
        font-family:"Novecento";
        font-size:14px;
        padding:10px 20px;
        margin:10px 0px 50px 0px;
        background-color:#248A83;
        border:#248A83 1px solid;
        color:white;
    }
}
.find-us{
    h2{
        margin:30px 0px;
    }
}