.products{

    display:grid;
    grid-gap: 50px 50px;
    grid-template-rows:250px 250px 250px 250px;
    grid-template-columns:250px 250px 250px 250px;
}

.grid-item{

    a{
        text-decoration: none;
        color:black;
    }

    img{
        height:250px;
        width:250px;
        object-fit: cover;
    }
}