.products{

    display:grid;
    grid-gap: 20px 20px;
    grid-template-rows:225px 225px 225px 225px;
    grid-template-columns:225px 225px 225px 225px;
    margin: 80px;
}

.grid-item{

    a{
        text-decoration: none;
        color:black;
        position:absolute;
    }

    img{
        height:225px;
        width:225px;
        object-fit: cover;
    }
}